{% extends "base.html" %} {% block content %}
<div class="d-flex justify-content-start align-items-center flex-column">
  <h2 align="center" class="display-4">Регистрация</h2>
  <form
    class="bg-light bg-gradient rounded p-3 w-25 simple_form"
    action=""
    method="post"
    enctype="multipart/form-data"
    novalidate
  >
    {{ form.hidden_tag() }}
    <h5>
      {{ form.name.label }}<br />
      {{ form.name(class="form-control") }}
    </h5>
    {% for error in form.name.errors %}
    <div class="alert alert-danger mb-0 p-2" role="alert">{{error}}</div>
    {% endfor %}<br />

    <h5>
      {{ form.surname.label }}<br />
      {{ form.surname(class="form-control") }}
    </h5>
    {% for error in form.surname.errors %}
    <div class="alert alert-danger mb-0 p-2" role="alert">{{error}}</div>
    {% endfor %}<br />

    <h5>
      {{ form.nickname.label }}<br />
      {{ form.nickname(class="form-control") }}
    </h5>
    {% for error in form.nickname.errors %}
    <div class="alert alert-danger mb-0 p-2" role="alert">{{error}}</div>
    {% endfor %}<br />

    <h5>
      {{ form.about.label }}<br />
      {{ form.about(class="form-control") }}
    </h5>
    {% for error in form.about.errors %}
    <div class="alert alert-danger mb-0 p-2" role="alert">{{error}}</div>
    {% endfor %}<br />

    <h5>
      {{ form.avatar.label }}<br />
      {{ form.avatar(class="form-control", type="file") }}
    </h5>
    {% for error in form.avatar.errors %}
    <div class="alert alert-danger mb-0 p-2" role="alert">{{error}}</div>
    {% endfor %}<br />

    <h5>
      {{ form.email.label }}<br />
      {{ form.email(class="form-control", type="email") }}
    </h5>
    {% for error in form.email.errors %}
    <div class="alert alert-danger mb-0 p-2" role="alert">{{error}}</div>
    {% endfor %}<br />

    <h5>
      {{ form.password.label }}<br />
      {{ form.password(class="form-control", type="password") }}
    </h5>
    {% for error in form.password.errors %}
    <div class="alert alert-danger mb-0 p-2" role="alert">{{error}}</div>
    {% endfor %}<br />

    <h5>
      {{ form.password_again.label }}<br />
      {{ form.password_again(class="form-control", type="password") }}
    </h5>
    {% for error in form.password_again.errors %}
    <div class="alert alert-danger mb-0 p-2" role="alert">{{error}}</div>
    {% endfor %}<br />

    <h5>{{ form.submit(type="submit", class="btn btn-primary") }}</h5>
    {% if message %}
    <div class="alert alert-danger mb-0 p-2" role="alert">{{ message }}</div>
    {% endif %}
  </form>
</div>
{% endblock %}
